.contenedor-conoceme{
    
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    h2{
        letter-spacing: 1px;
        padding: 0 24px;
        color: $blanco;
        border-radius: 8px;
    }
}