.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $azul;

    .navbar-logo {
        width: 10rem;
        height: 10rem;
    }

    a {
        margin: 10px;
        color: $blanco;
    }
    
    a:hover{
        color: $naranjaClaro;
    }
  
    .redesSociales{
        display: flex;
        flex-direction: row;

    }

    .logo-redes{
        width: 24px;
        height: auto;
    }

    @include tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

