.contenedor-inicio-conoceme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 64px 0;
    


    .conoceme-inicio-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin: 24px;
        

        h2 {
            margin: 24px 0;
        }

        p {
            margin: 24px 0;
        }

        a {
            margin: 24px 0;
        }

        @include tablet {
            width: 40%;
        }

    }

    @include tablet {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;


        .btn-naranja {
            width: 168px;
            height: 48px;
        }
    }

    .conoceme-inicio-video{
     display: flex;
     justify-content: center;
     
        video{
            width: auto;
            height: 600px;
            border-radius: 16px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
    }
  

}

.btn-naranja {
    width: 100%;
    height: 48px;
}

.conoceme-video {
    video{
        width: 300px;
        height: 300px;
        
    }
    

    @include tablet {
        width: 60%;
        height: 600px;
    }
}